

/*Styling a table in CSS. Two lessons to note are the :last-child parameter 
and the use of border-collapse.*/

.tg  {border-collapse:collapse;border-spacing:0; width: 100%;}
.tg td, .tg th, .stat{font-family:Arial, 
		sans-serif;
		font-size:14px;
		padding:10px 5px;
		border-style:none;
		border-width:0px;
		overflow:hidden;
		word-break:normal;
		border-top: none;
		border-bottom-width:1px;
		border-bottom: 1px solid gray;
	}

.tg tr {font-family:Arial, 
	sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:10px 5px;
	overflow:hidden;
	word-break:normal;
	}

.tg tr:last-child td {
	border-bottom: none;
	}

/*Making the header of a table bold*/

.header {
	font: bold;
	padding: 5px;
	border: 5px;
	}

/*Three prominent numbers, three columns and three small labels.*/

.stat {
	font-size: 2.5em;
	font: bold;
	border-collapse: collapse;
	border-spacing: 0px;
	border: none;
	}


#stats {
	border-top-style: solid; 
	border-top-width: 1px;
	border-top-color: gray;
	border-bottom-style: solid; 
	border-bottom-width: 1px;
	border-bottom-color: gray;
	width: 25%;
	}

div.what {
	color: gray;
	font-size: .8em;
	}

/*This is a horizontal bar chart*/
.bar-chart {
	width: 100%;
	padding: none;
	margin: none;
	border: none;

}
.bar-chart th { 
	width: 15%;
	font: bold;
	border: none;
	background-color: none;
	padding: none;
	margin: none;
}

.bar-chart div{
	background-color: #5a92dc;
	border-radius: 1px;
	color: white;
	text-align: left-center;
	padding: .5%;
}


/*
.lightbox {
	position: fixed;
	right: 0px;
	bottom: 0px;
	left: 0px;
	top: 0px;
	background: rgba(18, 21, 24, 0.9);
}

.content {
	border-radius: 6px;
	position: absolute;
	top: 50%;
	right: 10%;
	left: 10%;
	transform: translateY(-50%);
	background-color: white;
	padding: 10px;
	width: 80%;
	margin: 0 auto;

}

.content a:link {
	float: right;
	color: red;
}

.content a:visited {
	color: red;
}

*/
 
.float-left {
    float: left;
    padding-right: 10px;
}

.overflow-hidden, .clear {
	overflow: hidden;
}

























